body{font-family: 'Montserrat', 'Lato';
background-color: #E5E5E5;}

.main{
    width: 100%;
    height: 5624px;
    background-color: #FFFFFF;
}
#screen1{
    width: 100%;
    height: 1328px;
    background-image: url(./img/imgBackground.png);
    margin-top: 0;
    margin-bottom: 0;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.mnu_top{
    flex-grow: 1;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right: 400px;
   
}
.mnu_top li a{
    display: flex;
    padding-left: 50px;
   
}
.mnu_top:last-child{
    margin-right: 0;
    
}
.mnu_top a {
    padding: 8px 10px ;
    color: #323232;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.logo{
    float: left;
    margin-left: 150px;
}
.icons{
    float: right;
    margin-right: 100px;
}  
#rectangle{
    width: 50px;
    height: 10px;
    background-color:#8B6CCA;   
   
}
.dison{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 66px;
    line-height: 72px;
    color: #323232;
    padding-top: 200px;
    margin-left: 150px;
}
.function{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-left: 150px;
    padding-top: 40px;

}
.img1{
    float: right;
    margin-right: 100px;
    padding-top: 100px;    
}

.dws {
    
    display: flex;
     }

.bt {
    margin-left: 150px;
    margin-top: 50px;
    width: 280px;
    height: 66px;
    color: white;
    background-color: #8B6CCA ;
    user-select: none;
    line-height: 1.5;
    padding: 10px 15px;
}

   

.aside{
    flex-grow: 1;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    writing-mode: vertical-rl; 
    float: right;
    margin-right: 100px;
    margin-top: 200px;
    padding: 8px 10px ;
    color: #323232;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.aside li a{
    display: flex;
    padding-left: 50px;
}
.aside:last-child{
    margin-right: 0;   
}
